export CONAN_LOGIN_USERNAME="<CONAN_LOGIN_USERNAME>"
export CONAN_PASSWORD="<CONAN_PASSWORD>"
export JAVA_HOME=$(eval /usr/libexec/java_home)
export GRADLE_USER_HOME=/usr/local/opt/gradle/libexec
# Specify your defaults in this environment variable
export HOMEBREW_CASK_OPTS="--fontdir=/Library/Fonts"
